<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   
  <ion-card>
    <ion-item>      
      <ion-button color="primary" (click)="inica()">Inicia</ion-button>      
    </ion-item>
  </ion-card>
  
  <ion-card>  
    <ion-item>      
      <ion-button color="primary" (click)="finaliza()">Finaliza</ion-button>      
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Resultado</ion-card-subtitle>      
    </ion-card-header>
  
    <ion-card-content *ngIf="iniciaLeitura">
      <!-- {{acceleration.timestamp}} -->
      {{acceleration.x}}
      {{acceleration.y}}
      {{acceleration.z}}
    </ion-card-content>
  </ion-card>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
