<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Area</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let area of areas">
    <ion-item>
      <ion-icon name="map" slot="start"></ion-icon>      
      <ion-label>{{area.nome}}</ion-label>
      <ion-button color="primary" shape="round" fill="outline" size="small" [routerLink]="['/Area/Edit/'+area.id]" routerDirection="root">
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
      <ion-button color="danger" shape="round" fill="outline" size="small" (click)="del(area)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      Descrição: {{area.descricao}}<br/>
      Depósito: {{area.deposito}}
    </ion-card-content>
  </ion-card>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">    
    <ion-fab-button [routerLink]="['/Area/Edit/0']" routerDirection="root"><ion-icon name="add-circle-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
