<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-button color="primary" (click)="takePicture()">Câmera</ion-button>  
    </ion-card-header>
  
    <ion-card-content>
      <ion-thumbnail slot="start">
        <ion-img *ngIf="photo != null" [src]="photo"></ion-img>
      </ion-thumbnail>      
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>      
      <ion-button color="primary" (click)="captureAudio()">Captura audio</ion-button>      
    </ion-item>    
  </ion-card>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>  
</ion-content>



